ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
h1 {
    margin: 0;
}

header {
    background-color: rgb(255, 0, 0);
    width: 100%;

}

a {
    color: white;
}

li {
    list-style-type: none;
}
main img{
    max-width: 30%;
}

main ul img{
    width: 10%;
    
}

body{
    margin: 0;
    padding: 0;
}

main ul {
padding: 0;
}

footer{
    background-color: rgb(255, 0, 0);
    width: 100%;
    padding: 60px;;
}

p a{
    color: black;
}

